<p class="code">
  <span class="darkBlue">def</span><span class="brightYellow"> reverse</span>
  <span class="darkYellow">(</span><span class="brightBlue">s</span
  ><span class="darkYellow">)</span><span class="grey">:</span> <br />
  <span class="purple">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if </span>
  <span class="darkBlue">not </span><span class="grey">s</span
  ><span class="grey">:</span><br />
  <span class="purple"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return
  </span>
  <span class="grey">s</span><br />
  <span class="purple">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;else</span
  ><span class="grey">:</span> <br />
  <span class="purple"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return
  </span>
  <span class="grey">reverse</span> <span class="darkYellow">(</span
  ><span class="grey">s</span><span class="purple">[</span
  ><span class="green">1</span><span class="grey">:</span
  ><span class="purple">]</span> <span class="darkYellow">) </span
  ><span class="grey">+ s</span><span class="darkYellow">[</span>
  <span class="green">0</span><span class="darkYellow">]</span>
  <br /><br /><span class="grey">about = </span
  ><span class="orange">".smelborp ssenisub evlos ot snoitulos TI gnidliub tuoba etanoissap s'ohw repoleved erawtfos a m'I"</span><br />
  <span class="brightYellow">print</span><span class="darkYellow">(</span
  ><span class="grey">reverse</span><span class="purple">(</span
  ><span class="grey">about</span><span class="purple">)</span
  ><span class="darkYellow">)</span>
</p>
