.code {
  font-size: 20px;
  font-weight: 400;
  height: 37rem;
  background-color: rgb(30, 30, 30);
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
  overflow: auto;
}

.brightBlue {
  color: rgb(157, 222, 240);
}

.darkBlue {
  color: rgb(84, 149, 205);
}

.brightYellow {
  color: rgb(221, 221, 167);
}

.darkYellow {
  color: rgb(246, 206, 46);
}

.purple {
  color: rgb(213, 146, 200);
}

.teal {
  color: rgb(65, 201, 165);
}

.orange {
  color: rgb(212, 151, 130);
}

.grey {
  color: rgb(210, 210, 210);
}

.green {
  color: rgb(94, 213, 108);
}