<div class="display-container">
  <div class="totals">
    <div class="container subtotal-wrapper">
      <p class="subtotal-label">Subtotal</p>
      <p class="subtotal-data">{{ registerService.subtotalStr }}</p>
    </div>
    <div class="container tax-wrapper">
      <p class="tax-label">Tax</p>
      <p class="tax-data">{{ registerService.taxStr }}</p>
    </div>

    <div class="container total-wrapper">
      <p class="total-label">Total</p>
      <p class="total-data">{{ registerService.totalStr }}</p>
    </div>

    <div class="container input-wrapper">
      <p class="change-label">Input</p>
      <p class="input-data">{{ registerService.displayNum }}</p>
    </div>

    <div class="container change-wrapper">
      <p class="change-label">Change</p>
      <p class="change-data">{{ registerService.change | number: "1.2-2" }}</p>
    </div>

    <div class="payment-btns">
      <button
        class="btn btn-primary cash-btn"
        onclick="this.blur();"
        (click)="cashSale()"
      >
        Cash
      </button>
      <button
        class="btn btn-primary credit-btn"
        onclick="this.blur();"
        (click)="creditSale()"
      >
        Credit
      </button>
    </div>
  </div>
  <div class="container numpad">
    <div class="row">
      <button
        class="btn btn-primary numpad-btn"
        onclick="this.blur();"
        (click)="pressSeven()"
      >
        7
      </button>
      <button
        class="btn btn-primary numpad-btn"
        onclick="this.blur();"
        (click)="pressEight()"
      >
        8
      </button>
      <button
        class="btn btn-primary numpad-btn"
        onclick="this.blur();"
        (click)="pressNine()"
      >
        9
      </button>
    </div>
    <div class="row">
      <button
        class="btn btn-primary numpad-btn"
        onclick="this.blur();"
        (click)="pressFour()"
      >
        4
      </button>
      <button
        class="btn btn-primary numpad-btn"
        onclick="this.blur();"
        (click)="pressFive()"
      >
        5
      </button>
      <button
        class="btn btn-primary numpad-btn"
        onclick="this.blur();"
        (click)="pressSix()"
      >
        6
      </button>
    </div>
    <div class="row">
      <button
        class="btn btn-primary numpad-btn"
        onclick="this.blur();"
        (click)="pressOne()"
      >
        1
      </button>
      <button
        class="btn btn-primary numpad-btn"
        onclick="this.blur();"
        (click)="pressTwo()"
      >
        2
      </button>
      <button
        class="btn btn-primary numpad-btn"
        onclick="this.blur();"
        (click)="pressThree()"
      >
        3
      </button>
    </div>
    <div class="row">
      <button
        class="btn btn-primary numpad-btn"
        onclick="this.blur();"
        (click)="pressDel()"
      >
        Del
      </button>
      <button
        class="btn btn-primary numpad-btn"
        onclick="this.blur();"
        (click)="pressZero()"
      >
        0
      </button>
      <button
        class="btn btn-primary numpad-btn"
        onclick="this.blur();"
        (click)="pressPoint()"
      >
        .
      </button>
    </div>
  </div>
</div>
