.contact-container {
  width: 100%;
  height: 100vh;
  padding-top: 150px;
  background-color: rgb(30, 30, 30);
}


.form-label {
  color: white;
}

.form-control {
  border-radius: 0%;
}

.form-input {
  background: #373233;
  border: none;
  height: 50px;
  color: white;
  margin-bottom: 30px;
}

.form-input:focus,
.contact-form-text:focus {
  background-color: rgb(7, 98, 249);
}

.contact-form-text {
  height: 300px;
}

.submit-btn {
  color: white;
  background: black;
  border: none;
  height: 50px;
  width: 100%;
  margin-bottom: 15px;
  font-weight: 600;
}

.submit-btn:hover {
  color: black;
  background: white;
}

.submit-btn:focus {
  outline: none;
}

.submit-txt {
  width: 100%;
}

.warning {
  color: red;
  padding-left: 0px;
}

.sent-container {
  height: 500px;
  position: relative;
  justify-content: center;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 25px;
}

.loading {
  margin: auto;
  text-align: center;
}

.message-sent {
  color: white;
}
