/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
    height: 100%;
}

.mat-card {
    min-height: 75vh;
}

.row:before, .row:after {display: none !important;}

.mat-drawer-inner-container {
    background: #1e1e1e;
}

.mat-list-item-content {
    justify-items: center;
    justify-content: center;
}