<div class="row">
  <div class="col-md-12 sales-table">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="td-display" scope="col">Course Name</th>
          <th class="td-display" scope="col">Description</th>
          <th class="td-display" scope="col"></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let registeredCourse of httpCourse.registeredCourses">
          <td class="td-display">{{ registeredCourse.name }}</td>
          <td class="td-display">{{ registeredCourse.summary }}</td>
          <td class="td-display">
            <button
              class="btn btn-primary"
              (click)="navigateToSession(registeredCourse.id)"
            >
              Enter
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
