<div class="row">
  <div class="col-md-12 sales-table">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="td-display" scope="col">Course Name</th>
          <th class="td-display" scope="col">Description</th>
          <th class="td-display" scope="col">Enroll</th>
        </tr>
      </thead>
<!-- 
      <tbody>
        <tr *ngFor="let course of httpCourse.allCourses">
          <td class="td-display">{{ course.name }}</td>
          <td class="td-display">{{ course.summary }}</td>
          <td class="td-display">
            <button class="btn btn-primary" (click)="enroll(course.id)">
              Enroll
            </button>
          </td>
        </tr>
      </tbody> -->
    </table>
  </div>
</div>
