nav {
  background-color: rgb(30, 30, 30);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: table;
  width: 600px;
  text-align: center;
}
li {
  display: table-cell;
  position: relative;
  padding: 15px 0;
}
a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;

  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after {
  width: 100%;
  left: 0;
}

.aboutActive:after,
.projectsActive:after,
.contactActive:after {
  height: 2px;
  background: #fff;
  width: 100%;
  left: 0;
}
