<app-lms-nav></app-lms-nav>

<div class="container d-flex justify-content-center">
  <form class="col-md-5" (ngSubmit)="onSubmit($event)">
    <label class="welcome"
      >Use these credentials to login if you're testing the site:
    </label>
    <label class="credentials"
      >
      <b>Student account</b><br/>Email: student@tonyvu.dev<br />Password: studentpass<br/><br/>
      <b>Admin account</b><br/>Email: admin@tonyvu.dev<br />Password: adminpass<br/><br/>
    </label>
    <div class="form-group">
      <label>Email</label>
      <input
        type="email"
        class="form-control"
        aria-describedby="emailHelp"
        [(ngModel)]="email"
        name="email"
        id="emailInput"
      />

      <ng-template [ngIf]="!emailValid" [ngIfElse]="emailDefault">
        <div id="warning">Email not valid<br /></div>
      </ng-template>

      <ng-template #emailDefault>
        <div><br /></div>
      </ng-template>

      <label>Password</label>
      <input
        type="password"
        class="form-control"
        [(ngModel)]="password"
        name="password"
      />

      <div class="row" id="invalid-forgot">
        <ng-template [ngIf]="!loginValid">
          <div id="warning" class="form-text">
            Invalid email and password combintation
          </div>
        </ng-template>
        <small id="pwhelp" class="form-text ml-auto"
          ><a routerLink="">Forgot password?</a></small
        >
      </div>

      <ng-template [ngIf]="!pwValid" [ngIfElse]="pwDefault">
        <div id="warning">Password cannot be empty<br /></div>
      </ng-template>

      <ng-template #pwDefault>
        <div><br /></div>
      </ng-template>
    </div>
    <button type="submit" class="btn btn-primary col-md-12" id="submit-btn">
      <ng-template [ngIf]="loading" [ngIfElse]="signIn">
        <div class="spinner-border" role="status"></div>
      </ng-template>

      <ng-template #signIn>
        <div>Sign in</div>
      </ng-template>
    </button>
    <label
      id="create"
      class="form-text d-flex justify-content-center"
      routerLink="register"
      ><a href="#" routerLink="/lms/register">Create an account</a></label
    >
  </form>
</div>

<ng-template #default><br /></ng-template>
