<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="nav-link disabled brand" href="#">Ice Cream Parlor</a>
  
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <!-- <a class="nav-link" routerLink="" [ngClass]="setSales()">Sales</a> -->
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" routerLink="admin" [ngClass]="setAdmin()">Admin</a> -->
        </li>
      </ul>

    </div>
  </nav>

