.display-container {
  height: 47.5vh;
  width: 70vw;
}

// This setup is to fix the table head so that it doesn't scroll.
thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

thead {
  width: 100%;
  height: 5vh;
}

table {
  width: 100%;
}

tbody {
  display: block;
  height: 42.5vh;
}

.items-display {
  height: 47.5vh;
}

tr {
  background-color: rgb(236, 236, 236);
}

.td-display {
  width: 14vw;
  font-size: 1vw;
}

td {
  background-color: white;
  font-weight: 500;
}

.qty-btn {
  font-size: 1vw;
  outline: black;
  width: 2vw;
  padding: 0.2vh 0vw;
}

.qty-div {
  margin: 0;
  padding: 0;
  text-align: left;
}

.qty-num {
  text-align: center;
  padding: 0;
  margin-right: 0.5vw;
}

.qty-space-adj {
  margin-left: 0.8vw;
}

.rmv-btn {
  font-size: 1vw;
}
