<app-portfolio-nav>
  <div class="home-container" id="top">
    <div
      *ngIf="slideIn"
      [@slideSide]
      class="jumbotron"
      [ngStyle]="{
        width: '93%',
        margin: 'auto',
        padding: '5rem'
      }"
    >
      <h1 class="mainHeader">TONY VU</h1>
      <h2 class="mainHeader">software developer</h2>
      <h3></h3>
      <hr class="my-4" />
      <div class="row">
        <div class="col-md-6">
          <app-code></app-code>

          <ng-template [ngIf]="running === true" [ngIfElse]="off">
            <button
              mat-raised-button
              color="accent"
              [ngStyle]="{ width: '100%' }"
              (click)="runCode()"
            >
              <i
                class="fas fa-arrow-alt-circle-left"
                [ngStyle]="{
                  fontSize: '2rem',
                  marginRight: '.5rem',
                  paddingBottom: 'rem'
                }"
              ></i>
              RESET
            </button>
            <mat-progress-bar
              mode="indeterminate"
              [ngStyle]="{ width: '100%', marginBottom: '3rem' }"
              [ngClass]="runStyle()"
            >
            </mat-progress-bar>
          </ng-template>

          <ng-template #off>
            <button
              mat-raised-button
              color="accent"
              [ngStyle]="{ width: '100%', backgroundColor: 'green' }"
              (click)="runCode()"
            >
              <i
                class="far fa-arrow-alt-circle-right"
                [ngStyle]="{
                  fontSize: '2rem',
                  marginRight: '.5rem',
                  paddingBottom: 'rem'
                }"
              ></i>
              RUN
            </button>
            <mat-progress-bar
              mode="indeterminate"
              [ngStyle]="{ width: '100%', marginBottom: '3rem' }"
              [ngClass]="runStyle()"
            >
            </mat-progress-bar>
          </ng-template>
        </div>

        <div class="col-md-6 console">
          <div *ngIf="visible" [@slideInOut]>
            <span class="blink">HELLO</span><br /><br /><span
              class="str"
              [ngClass]="runStyle()"
            >
              I'm a software developer who's passionate about building IT
              solutions to solve business problems.
            </span>
          </div>
        </div>
      </div>
    </div>

    <div id="projects"></div>
    <app-projects></app-projects>

    <div id="resume"></div>
    <app-resume></app-resume>

    <div id="contact"></div>
    <app-contact></app-contact>
  </div>
</app-portfolio-nav>
