.brand {
  color: rgb(197, 197, 197);
}

.sales {
  background: rgb(87, 87, 87);
}

.admin {
  background: rgb(87, 87, 87);
}

.admin-li {
  margin-left: 1.5vh;

  width: 8vh;
}

.nav-group {
  position: absolute;
  right: 0;
}

.navbar {
  padding: 0;
}

div.collapse.navbar-collapse {
  height: 5vh;
}

.nav-link {
  height: 5vh;
  font-size: 2vh;
}

.nav-item {
  height: 5vh;
}

.pos {
  width: 8vh;
}

.back {
  color: white;
  position: absolute;
  left: 0;
}