.home-container {
  background-color: rgb(30, 30, 30);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
}

.centered-box {
  padding: 10px;
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  text-align: center;
  width: 100%;
}

.fab:hover {
  cursor: pointer;
}

.github {
  font-size: 40px;
}

.linkedin {
  margin-top: 15px;
  font-size: 35px;
}

.resume {
  text-decoration: underline;
}

.resume:hover {
  cursor: pointer;
}

@media only screen and (max-width: 420px) {
  .centered-box {
    top: 45%;
  }
}
