<div class="display-container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="td-display" scope="col">Description</th>
        <th class="td-display" scope="col">Quantity</th>
        <th class="td-display" scope="col">Unit Price</th>
        <th class="td-display" scope="col">Total</th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody
      style="overflow-y: scroll; height: xyz;"
      #scrollMe
      [scrollTop]="scrollMe.scrollHeight"
    >
      <tr *ngFor="let item of service.itemList">
        <td class="td-display">{{ item.Name }}</td>
        <td class="td-display">
          <div class="row qty-wrapper">
            <div class="col-md-2 qty-div qty-space-adj">
              <button
                class="btn btn-outline-secondary qty-btn"
                (click)="decreaseQty(item.Name)"
                onclick="this.blur();"
              >
                -
              </button>
            </div>
            <div class="col-md-2 qty-num">
              {{ item.Quantity }}
            </div>
            <div class="col-md-2 qty-div">
              <button
                class="btn btn-outline-secondary qty-btn"
                (click)="increaseQty(item.Name)"
                onclick="this.blur();"
              >
                +
              </button>
            </div>
          </div>
        </td>
        <td class="td-display">{{ item.UnitPrice }}</td>
        <td class="td-display">{{ item.Subtotal | number : '1.2-2'}}</td>
        <td (click)="removeItem(item.Id)" class="delete-td">
          <button class="btn btn-outline-danger rmv-btn" onclick="this.blur();">
            Remove</button
          >&nbsp;
        </td>
      </tr>
    </tbody>
  </table>
</div>
