<div class="resume-container">
  <h1 class="display-3 header" [ngStyle]="{ color: '#fff' }">R&Eacute;SUM&Eacute;</h1>
  <div class="row justify-content-center">
    <a mat-raised-button color="primary" href="/assets/portfolio/resume.pdf"
      >DOWNLOAD</a
    >
  </div>

  <hr class="my-4" />

  <div class="row justify-content-center">
    <div class="jumbotron col-md-11 shadow">
      <h1 class="display-4 header">Work Experience</h1>
      <hr class="my-4" />
      <h1 class="display-5 job-header">
        Novation Education Opportunities | Eagan, MN
      </h1>
      <p class="lead">Systems Analyst | March 2018 - present</p>
      <p>
        • Developed a script utilizing C# and Selenium to automate MCA data
        extraction
      </p>
      <p>
        • Applied CSS query selectors to style page elements in accordance with
        Section 508 Accessibility for the MN Charter Board Training and
        Development website
      </p>
      <p>
        • Implemented a Google site to archive/retrieve company
        documents/resources
      </p>

      <p>
        • Contributed to 20 charter schools’ success by analyzing/reporting on
        student performance to the MN Department of Education via data
        visualizations
      </p>

      <p>
        • Audited school policies, documents, and websites to ensure compliance
        with Chapter 124E. MN Charter School Statutes
      </p>

      <h1
        class="display-5 job-header"
        [ngStyle]="{
          marginTop: '80px'
        }"
      >
        3Sach Food | Hi Chi Minh City, Vietnam
      </h1>
      <p class="lead">Web Developer | June 2016 - December 2016</p>
      <p>• Implemented product photos on store website with HTML and CSS</p>
      <p>• Designed and implemented responsive layout with CSS3 transitions</p>
    </div>
  </div>

  <div class="row justify-content-center justify-content-around">
    <div class="jumbotron col-md-5 shadow">
      <h1 class="display-4 header">Skills</h1>
      <hr class="my-4" />
      <p class="lead">Languages</p>

      <p>C# • Java • Python • TypeScript</p>

      <p class="lead">Frameworks</p>

      <p>.NET Core 3.1 • Angular</p>

      <p class="lead">Operating Systems</p>

      <p>Windows • Linux/Ubuntu • MacOS</p>
    </div>
    <div class="jumbotron col-md-5 shadow">
      <h1 class="display-4 header">Education</h1>
      <hr class="my-4" />
      <p class="lead">Metropolitan State University | St. Paul, MN</p>

      <p>B.S. Computer Science</p>
      <p>Overall GPA: 3.52 • Major GPA: 3.43</p>
      <p>Anticpated Graduation: August 2021</p>
    </div>
  </div>
</div>
