<div class="header-container" id="headerTop">
  <particles
    [params]="myParams"
    [style]="myStyle"
    [width]="width"
    [height]="height"
  >
  </particles>

  <div class="main-header">
    <h1 class="name">TONY VU</h1>
    <h1 class="desc">
      I am a software engineer and I use angular and c# to develop web applications
    </h1>
  </div>
</div>
<div class="spacer">
  <particles
    [params]="myParams"
    [style]="myStyle"
    [width]="width"
    [height]="height"
    class="particles"
  >
  </particles>
</div>
