.projects-container {
  width: 100%;
  margin: auto;
  padding: 50px;
  background-color: rgb(30, 30, 30);
}

.header {
  text-align: left;
  color: white;
}

.project-header {
  font-size: 35px;
}

.project-box{
  border-radius: 15px;
}