<app-lms-nav></app-lms-nav>

<ng-template [ngIf]="!isLogged" [ngIfElse]="logged">
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to LMS Lite!</h1>
      <p class="lead">
        WARNING: This project is a current work in progress so some sections may be incomplete or under maintenance!
      </p>
      <hr class="my-4" />
      <a
        class="btn btn-primary btn-lg"
        routerLink="/lms/login"
        role="button"
        id="signInBtn"
        >Sign in</a
      >
      <a
        class="btn btn-primary btn-lg"
        routerLink="/lms/register"
        role="button"
        id="createBtn"
        >Create</a
      >
    </div>
  </div>
</ng-template>

<ng-template #logged>
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome back, {{ firstName }}!</h1>
      <p class="lead">
        Quote of the day: <br />
        “Persistence is very important. You should not give up unless you are
        forced to give up.”<br />-Elon Musk
      </p>
      <hr class="my-4" />
      <h1 class="display-4">Certificates</h1>

      <hr class="my-4" />
      <h1 class="display-4">Registrations</h1>
      <app-registrations></app-registrations>
    </div>
  </div>
</ng-template>
