<app-nav></app-nav>
<div class="contact-container">
  <h1
    [ngStyle]="{
      textAlign: 'center',
      color: 'white',
      marginBottom: '50px'
    }"
    class="display-3"
  >
    CONTACT
  </h1>

  <div class="d-flex justify-content-center form-container">
    <form class="col-md-5" (ngSubmit)="onSubmit($event)">
      <div class="form-group">
        <b><label class="form-label">Name</label></b>
        <input
          type="text"
          class="form-control form-input"
          [(ngModel)]="name"
          name="name"
        />

        <b><label class="form-label">Email</label></b>
        <input
          type="text"
          class="form-control form-input"
          [(ngModel)]="email"
          name="email"
        />

        <b><label class="form-label">Subject</label></b>
        <input
          type="text"
          class="form-control form-input"
          [(ngModel)]="subject"
          name="subject"
        />

        <b><label class="form-label">Message</label></b>
        <textarea
          class="contact-form-text form-control form-input"
          [(ngModel)]="messageBody"
          name="messageBody"
        ></textarea>
      </div>

      <ng-template [ngIf]="messageSent" [ngIfElse]="default">
        <div class="col-md-12">
          <p class="message-sent">Your message has been sent, thank you!</p>
        </div>
      </ng-template>

      <button type="submit" class="col-md-4 submit-btn">
        <ng-template [ngIf]="loading" [ngIfElse]="sendBtn">
          <div class="spinner-border" role="status"></div>
        </ng-template>

        <ng-template #sendBtn>
          <div class="submit-txt">SUBMIT</div>
        </ng-template>
      </button>

      <ng-template [ngIf]="!formValid" [ngIfElse]="default">
        <div class="col-md-12">
          <p class="warning">Error: inputs cannot be blank</p>
        </div>
      </ng-template>

      <ng-template [ngIf]="!emailValid" [ngIfElse]="default">
        <div class="col-md-12">
          <p class="warning">Error: email is invalid</p>
        </div>
      </ng-template>
    </form>
  </div>
</div>
<ng-template #default></ng-template>
