<div
  class="jumbotron wrapper"
  [ngStyle]="{
    width: '93%',
    margin: 'auto',
    padding: '5rem',
    marginTop: '5rem'
  }"
>
  <h1
    [ngStyle]="{
      textAlign: 'center'
    }"
  >
    R&Eacute;SUM&Eacute;
  </h1>

  <hr class="my-4" />

  <div class="row">
    <div class="jumbotron col-md-6">
      <h1 class="display-4">Education</h1>
      <p class="lead">Metropolitan State University | St. Paul, MN</p>

      <p>B.S. Computer Science</p>
      <p>Overall GPA: 3.52 • Major GPA: 3.43</p>
      <p>Anticpated Graduation: August 2021</p>
    </div>

    <div class="jumbotron col-md-6">
      <h1 class="display-4">Skills</h1>
      <p class="lead">Languages</p>

      <p>C# • Python • TypeScript</p>

      <p class="lead">Frameworks</p>

      <p>.NET Core 3.1 • Angular</p>

      <p class="lead">Operating Systems</p>

      <p>Windows • Linux/Ubuntu • MacOS</p>
    </div>
  </div>

  <div class="row">
    <div class="jumbotron col-md-12">
      <h1 class="display-4">Work Experience</h1>
      <h1 class="display-5">Novation Education Opportunities | Eagan, MN</h1>
      <p class="lead">Systems Analyst | March 2018 - present</p>
      <hr class="my-4" />
      <p>
        • Developed applications utilizing C#, .NET Core 3.1, and Selenium to
        automate repetitive tasks where applicable
      </p>
      <p>
        • Contributed to the UI design and implementation of the MN Charter
        Board Training and Development website ― a federally funded project
        totaling more than $500,000. In addition, applied CSS query selectors to
        style page elements in accordance with Section 508 Accessibility
      </p>
      <p>
        • Managed over 20 MN charter schools’ collective performance framework
        measures consisting of thousands of data-points utilizing data analytics
        tools such as Tableau and Microsoft Excel
      </p>

      <p>
        • Reviewed and approved hundreds of school documents and policies
        annually to ensure compliance with Chapter 124E. MN Charter School
        Statutes
      </p>

      <p>
        • Communicated via in-person, phone, web conference, and email regularly
        with school directors and board members about school contract renewal
        information, performance framework statuses, and general IT assistance.
      </p>
    </div>

    <div class="jumbotron col-md-12">
      <h1 class="display-5">3Sach Food | Hi Chi Minh City, Vietnam</h1>
      <p class="lead">Web Developer | June 2016 - December 2016</p>
      <hr class="my-4" />
      <p>
        • Implemented front end website design utilizing HTML, CSS, and
        JavaScript
      </p>
    </div>
  </div>

  <div class="row justify-content-center">
    <a
      mat-raised-button
      color="primary"
      href="/assets/portfolio/resume.pdf"
      class="dlBtn col-md-2"
      >DOWNLOAD</a
    >
  </div>
</div>
