<div class="wrapper">
  <div class="row">
    <h1 class="col-md-12">Sales</h1>
  </div>

  <div class="row">
    <div class="col-md-12 sales-table">
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="td-display" scope="col">SalesId</th>
            <th class="td-display" scope="col">Date</th>
            <th class="td-display" scope="col">Total</th>
            <th class="td-display" scope="col">PaymentType</th>
            <th class="td-display" scope="col">Cash</th>
            <th class="td-display" scope="col">Change</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let sale of salesService.salesList">
            <td class="td-display">{{ sale.id }}</td>
            <td class="td-display">{{ sale.date }}</td>
            <td class="td-display">{{ sale.total | number: "1.2-2" }}</td>
            <td class="td-display">{{ sale.paymentType }}</td>
            <td class="td-display">{{ sale.cash | number: "1.2-2" }}</td>
            <td class="td-display">{{ sale.change | number: "1.2-2" }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <h6>[Table resets after 50 entries.]</h6>
</div>

